body {
font-family: Verdana, Arial, sans-serif;
font-size: 16px;
}

div.figure  {
    position: relative;
    float: right;
    clear: right;
    padding: 2px;
    margin: 0px;
    border: solid #ddd 1px;
    z-index:5;
}
div.figure p.caption { 
    margin: 0.4em 0;
    width: 100%;
    font-size: .68em;
    color: #555555;
    line-height: 1.2em;
}

div.figure p.credit { 
    margin: 0;
    width: 100%;
    font-size: .52em;
    color: #555555;
    line-height: 1em;
    text-align: right;
}

/* Clearfix from positioniseverything http://www.pewpewlaser.com/articles/clearfix-ie */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}  /* for IE/Mac */

/* Hides from IE-mac \*/
/*Hack for IE*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.container {
margin:20px 5em 0em 12em;
min-width:30em;
max-width:800px;
/* IE hack to set the maximum and minimum width
width:expression( 
	((document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth) > 800 + 16*18) 
		? '800px' 
		: 
		(
			((document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth) < (30*18+13*18 )) 
				?
				'30em'
				:
				'auto' 
		)
	);
/* end of big IE hack */
z-index:2;
}

.banner {
border:#ab9f87 1px solid;
z-index:3;
padding-top: 47px;
background: url(RockpoolBanner3.jpg) no-repeat top left;
}

.banner .splash {
height: 37px;
background-color: transparent;
z-index:4;
border: black 1px;
}
.banner .splash h2 {
padding: 0 20px;
margin: 0;
line-height:35px;
font-size:18px;
color:#eeeeee;
background-color:transparent;
letter-spacing:0.25em;
font-weight: normal;
font-family: georgia, times, 'times new roman', serif;
}

.box {
border:#5486b4 1px solid;
}

.content {
padding:0 32px 0 32px;
}

h1, h2, h3, h4 {
font-family: georgia, times, 'times new roman', serif;
font-weight: bold;
color: #507e9d;
}

h1 {
font-size: 1.2em;
line-height: 1.9em;
}

h2 {
font-size: 1em;
line-height: 1.7em;
}

h3 {
font-size: .8em;
line-height: 1.5em;
}

h4
{
font-size: .7em;
line-height: 1.3em;
}

h1 a, h2 a, h3 a, h4 a {
color: #507e9d;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
color: #00558f;
}

p {
font-size: .72em;
color: #555555;
line-height: 1.5em;
}

ul {
font-size: .7em;
color: #555555;
line-height: 1.5em;
}

a {
font-weight:bold;
color:#624d43;
color:#67554b;
text-decoration:none;
}

a:hover {
color:#3b1b0b;
text-decoration:none;
}

.footer {
height:132px;
min-width:24em;
max-width:800px;
z-index:3;
padding-top:.2em;
padding-bottom:.2em;
}

.watermark {
top:20px;
left:0em;
width:12em;
height:189px;
position:absolute;
z-index:1;
padding: 0em;
margin: 0em 0.2em;
background: transparent url(damsel_70.png) no-repeat center top;
}

div.menuBar {
margin:0em;
padding:0em;
width:5em;
position:absolute;
left:5.2em;
top:8em;
z-index:2;
}

div.menuBar ul {
margin:0em;
padding:0em;
display:block;
width:100%;
list-style-type:none;
position:relative;
}

div.menuBar ul ul {
margin:0em;
padding:0em;
display:block;
width:100%;
list-style-type:none;
padding-top:0em;
padding-bottom:0em;
padding-left:0.5em;
position:relative;
}

div.menuBar ul ul li a{
margin:0em;
padding:0em;
padding-bottom:0.4em;
padding-top:0.2em;
font-weight:normal;
letter-spacing:0.1em;
font-weight:normal;
text-align:left;
line-height: 1.2em;
}

div.menuBar ul li{
margin:0.1em;
padding:0em;
padding-bottom:0.8em;
display:block;
width:100%;
height:.85em;
list-style-type:none;
font-size: 0.9em;
line-height: 1em;
}

div.menuBar ul li a {
display:block;
background-color:transparent;
color:#ab9f87;
color:#507e9d;
letter-spacing:0.15em;
text-decoration:none;
font-weight:normal;
text-align:left;
}

div.menuBar ul li a:hover {
background-color:#ab9f87;
color:#ffffff;
}

div.menuBar ul ul li a:hover {
background-color:#ab9f87;
color:#ffffff;
}

div.menuBar ul ul li a.menuSelection {
background-color:transparent;
color:#111111;
text-decoration:none;
}

div.menuBar ul li a.menuSelection {
background-color:transparent;
color:#111111;
text-decoration:none;
}

