body {
font-family: Calibri, Verdana, Arial, sans-serif;
}


.image_attribution {
    margin-right: 10px;
    padding: 0;
    color: #aaa;
    text-align: right;
    background: #fff;
    font-size: 0.7em;
}
.image_attribution img{
    vertical-align: top;
}

.image_attribution a{
    color: #aaa;
}

#buttonbar {
    margin-top: 20px;
}

.button {
    background: #5486b4;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 170px;
    text-align: center;
    padding: 7px 10px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 22px;
    margin-top: 20px; 
    -moz-box-shadow: 3px 3px 4px #555;
    -webkit-box-shadow: 3px 3px 4px #555;
    box-shadow: 3px 3px 4px #555;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}



.button:hover {
    background: #3b1b0b;
    color: #fff;
}

.button:active {
    background: #5f3622;
    -moz-box-shadow: 1.5px 1.5px 2px #555;
    -webkit-box-shadow: 1.5px 1.5px 2px #555;
    box-shadow: 1.5px 1.5px 2px #555;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#555555')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#555555');
}

#download {
    margin-left: 70px;
}

#explore {
}


h1, h2, h3, h4, .button {
font-family: Cumbria, Georgia, times, 'times new roman', serif;
font-weight: normal;
word-spacing: 0;
}

h1, h2, h3, h4 {
color: #48699c;
}


h3 {
margin: 0;
padding-top: 0;
padding-bottom: 1em;
}

p+h3 {
padding-top: 1em;
}
p {
color: #555555;
line-height: 1.5em;
padding-bottom: 1em;
}

a {
font-weight:bold;
color:#67554b;
text-decoration:none;
}

a:hover {
color:#3b1b0b;
text-decoration:none;
}

#topnav {
position: absolute;
top: 10px;
right: 10px;
}

p + p {
text-indent: 0;
}

#topnav a {
color: #fff;
font-size: 15px;
font-weight: normal;
}

#topnav a:hover {
color:#3b1b0b;
}

#topnav a:hover {
color:#3b1b0b;
}

#topnav #thispage {
color: #f5f645;
}


#main {
border:#5486b4 1px solid;
padding-top:15px;
}

#titlebar {
    background: url("seabirds-banner.jpg");
    height: 90px;
    background-repeat: no-repeat;
    border:#ab9f87 1px solid;
    padding-bottom: 0;
}

#titlebar h2 {
    padding-top: 30px;
    padding-left: 170px;
    color: #f8f8f8;
    margin:0;
    line-height:35px;
    font-size:30px;
    background-color:transparent;
    letter-spacing:2px;
    font-weight: normal;
    font-family: cambria, georgia, times, 'times new roman', serif;
}

#page					{ margin: 0 auto 36px auto; }

div.figure img {
    position: relative;
    float: right;
    margin: 0px 0px 0px 60px;
    z-index:5;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 22px;
    margin-top: 20px; 
}

div.figure .caption { 
    margin-left: 2;
    width: 100%;
    color: #555555;
}

div.figure .credit { 
    margin-right: 2;
    width: 100%;
    font-size: xx-small; 
    color: #555555;
    text-align: right;
}

ul#topnav li { display: inline; margin-right: 10px }

#textcontent {
    padding: 20px 100px;
}

tr.darker {background-color: #ddd;}
tr.paler {background-color: #f5f5f5;}
tr.selectedthumbnail { background: #f2e587;}
tr.thumbnail { font-size: small }
tr.thumbnail:hover { cursor: pointer; background-color: #aad2d2}

.accordion {margin:0; padding:0 0}
.accordion a {padding-top:.2em; padding-bottom:.1em; margin: 0; font-weight:normal; display: block; color: black; text-decoration: none}
.accordion a.depthx1 {background-color: #ddd; padding-left: 10px;}
.accordion a.depthx2 {background-color: #f5f5f5; padding-left: 25px;}
.accordion a.depthx3 {background-color: #fff; padding-left: 40px;}
.accordion a.selected {background-color: #f2e587}
.accordion a:hover {cursor: pointer; background-color: #aad2d2}

table#mapselector { margin-top: 0px; border: none }
table#mapselector th { font-weight: normal;}
table#mapselector th, table#mapselector td { width: 50%; height: 18px; padding: 1px 9px; border: none}
table#mapselector td.mean { text-align: right; padding-right: 25% }


