
body {
	z-index: -500;
	background-color: #a1bee6;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	text-align: center;
	font-size: 14px;
}

#wrapper {
	position: relative;
}

/* Text styling */

.text {
	letter-spacing: 1px;
	font-family: "Times New Roman", Times, serif;
}

.email {
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 12px;
}


a {
	color: #7AA0D6;
	-moz-transition: 0.5s ease;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}

a:visited {
	color: purple;
}

h1 {
	font-size: 3em;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}

h2 {
	text-transform: uppercase;
	font-size: 2em;
	/*font-weight: normal;*/
	margin-bottom: 10px;
	color: #333;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	border-radius: 2px;
	text-shadow: 0 0 10px #ddd;
	font-family: "Times New Roman", Times, serif;
	box-shadow: 0 0 10px #eee;
        -webkit-box-shadow: 0 0 10px #eee;
	-mox-box-shadow: 0 0 10px #eee;
	-o-box-shadow: 0 0 10px #eee;
}

#mainbg {
	position: absolute;
	z-index: -200;
	top: 220px;
	bottom: 0;
	width: 100%;
	background-color: #f6f6f6;
}

/* Background elements */

/* Header banner */
#banner {
	position: absolute;
	z-index:-1;
	height: 200px;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #a1bee6;
	background-image: url(combinedbannerbg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border-bottom: 1px solid #eee;
}

/* Header banner dropshadow */
#dropshadow {
	height: 20px;
        z-index: -100;
	position: absolute;
	left: 0;
	width: 100%;
	top: 200px;
	background-image: url(bannershadow.png);
}

/* Footer banner */


#footbanner {
	z-index:-1;
	position: relative;
	width: 100%;
	left: 0;
	height: 70px;
	padding: 40px 0 40px 0;	
	background-color: #a1bee6;
	background-image: url(footbannerbg.png);
	background-repeat: repeat-x;
	background-position: top;
	border-top: 1px solid #eee;	
}

#footbannershadow {
	height: 20px;
	padding-bottom: -20px;
	background-image: url(footbannershadow.png);
	left: 0;
	position: relative;
	z-index: -100;
	width: 100%;
}

/* Grid elements */

/* Header */
#bannertext {
	height: 155px;
}

#bannertext img {
	margin-top: -10px;
}

#bannerphoto-1, #bannerphoto-2 {
	height: 140px;
	z-index: 1;
	border-radius: 0 0 10px 10px;
}

#bannerphoto-1 {
	background-image: url(seagullfade.png);
	background-position: center;
}

#bannerphoto-2 {
	background-image: url(puffinfade.png);
	background-position: center;
}


/* Navigation bar */

.nav {
	z-index: 5;
}

.nav a, #footbanner a {
	color: #f6f6f6;
	text-decoration: none;
}

.navinner {
	z-index: 6;
	text-shadow: 0 0 5px #608bc8;
	text-align: center;
	text-transform:uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: 2px;
	color: #f6f6f6;
}

.navinner a:hover {
	cursor: pointer;
	text-shadow: 0 0 5px #A1BEE6;
}

/* Nav drop down menus */

ul li:hover .navinner {
	text-shadow: 0 0 5px #A1BEE6;
}

ul li ul {
	position: absolute;
	top: -500px;
	z-index: 6;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}

ul li:hover ul {
	top: 170px;
	cursor: pointer;
}

ul li ul li {
	color: #f6f6f6;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
	text-shadow: 0 0 5px #608bc8;
}

ul li ul a:hover {
	text-shadow: 0 0 10px #27579C;
}

.filmstrip {
	z-index: 6;
	width: 130px;
	border: 1px solid #eee;
	padding: 10px 5px 5px 5px;
	margin-top: 45px;
	background-color: #608bc8;
	background-image: url(combinedbannerbg.png);
	background-position: bottom;
	box-shadow: 0 0 10px #ddd;
        -webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ddd;
	-o-box-shadow: 0 0 10px #ddd;
}

.filmstrip img {
	position: relative;
	top: -10px;
	/*left: -5px;	*/
}

/* Content boxes */
.textbox {
	background-color: #fafafa;
	padding-top: 10px;
	padding-bottom: 10px;
	/*border-top: solid 1px #ddd;*/
	border-bottom: solid 1px #ddd;
	box-shadow: 0 0 10px #eee;
        -webkit-box-shadow: 0 0 10px #eee;
	-mox-box-shadow: 0 0 10px #eee;
	-o-box-shadow: 0 0 10px #eee;
	text-align: left;
}

.grid_8 .textbox {
	font-size: 18px;
	font-family: "Times New Roman",Times,serif;
	font-weight: 400;
	border: none;
	background-color: transparent;
}

#dropcap {
	position: relative;
	float:left;
	font-size: 3em;
	line-height: 0.7em;
	top: 5px;
	z-index: 1;
}

.grid_8 .textbox {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

h3 {
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: 0 0 5px #eee;
	color: #555;
	margin-bottom: 10px;
}

.grid_8 .grid_4 {
	margin-top: 12px;
	width: 300px;
	text-align: center;
	box-shadow: 0 0 10px #ddd;
}

.grid4inner {
	width: 290px;
	background-color: #ffffff;
	border: 5px #fff solid;
	height: 150px;
}

.grid4inner a span {
	width: 290px;
	height: 150px;
	display: block;
}

.grid4inner:hover {
	cursor: pointer;
}

.grid_8 .caption {
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	margin-top: 0px;
	box-shadow: none;
}

#picture-a {
	background-image: url(http://www.seabirds.net/Images/portal-promo.png);
	background-position: center;
}

#picture-b {
	background-image: url(http://www.seabirds.net/Images/seabird-circumpolar-promo.large.png);
	background-position: center;
}

#picture-c {
	background-image: url(http://www.seabirds.net/Update2011/Images/forum-portal-promo.png);
	background-position: center;
}

#picture-d {
	background-image: url(http://farm4.staticflickr.com/3074/3251932661_2c86c23bb4.jpg);
	background-position: center;
}

/* Content boxes - first row */
.firstrow {
	margin-top: 50px;
}

/* News Styling */

.title {
	font-weight: bold;
	display: block;
	margin-bottom: -2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Times New Roman", Times, serif;
}

.date {
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 10px;
}

.info {
	display: block;
	font-family: "Times New Roman", Times, serif;
}

