seabirds/build/*
build/*
*.pyc
*~
*.swp
*.swo
fabfile.py
seabirds/media/images/cache/*
seabirds/seabirds.sqlite
seabirds/static/*
seabirds/media/*
seabirds/cover
seabirds/.noseids
dumps/*.sql

seabirds/sitesettings.py
seabirds/secrets.py
seabirds/seabirds.sqlite3
sitesettings_production.py
sitesettings_dev.py
sitesettings.py

static/*
seabirds/htmlcov/*
proposal.*
README.tex
.coverage
htmlcov/
*coverage.xml
*nosetests.xml
