seabirds/build/*
build/*
*.pyc
*~
*.swp
fabfile.py
seabirds/media/images/cache/*
seabirds/seabirds.sqlite
seabirds/static/*
seabirds/media/*
dumps/*.sql

seabirds/sitesettings.py
seabirds/secrets.py
sitesettings_production.py
sitesettings.py

static/*
seabirds/htmlcov/*
proposal.*
README.tex
.coverage
htmlcov/
