# Local settings template for seabirds.net
DEBUG = True
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'seabirds',
        'USER': None, # REPLACE ME
        'HOST': 'localhost',
    }
}
