git+git://github.com/dragonfly-science/django-bibliography.git
git+git://github.com/dragonfly-science/cuckoo-migrations.git
Django==1.4.2
django-disqus==0.4.1
django-form-utils
django-mptt==0.5.1
django-taggit==0.9.3
django-reversion==1.6.4
django-countries
django-profiles
django-passwords
longerusername==0.4
sorl-thumbnail
Markdown==2.0.3
# PIL replacement
pillow
psycopg2
Fabric
pycrypto
ssh
git+https://github.com/praekelt/django-recaptcha
hg+https://bitbucket.org/ubernostrum/django-registration
django-coverage
django-grappelli==2.4.2
coverage
git+git://github.com/dragonfly-science/django-pigeonpost@v0.1.5
unidecode
