git+git://github.com/dragonfly-science/django-bibliography.git@779b05f57f4efaa898d139ba27c5d729d92758a9
git+git://github.com/dragonfly-science/cuckoo-migrations.git
Django==1.4.22
django-disqus==0.4.1
django-form-utils
django-mptt==0.5.1
django-taggit==0.9.3
django-reversion==1.6.6
django-countries==3.1.1
django-profiles
django-passwords
longerusername==0.4
sorl-thumbnail
Markdown==2.0.3
# PIL replacement
pillow
psycopg2
fabric
pycrypto
ssh
django-recaptcha==1.0.3
#hg+https://bitbucket.org/ubernostrum/django-registration
django-registration==0.8
django-coverage
django-grappelli==2.4.2
coverage
git+git://github.com/dragonfly-science/django-pigeonpost@v0.1.9
unidecode
django-nose==1.3.0
nose-cov
mock
