import os
import sys
import site

# add virtualenv python libs
sys.path.insert(0, '/home/seabirds/.virtualenvs/%(venv)s/lib/python2.7/site-packages')
# add django app
sys.path.insert(0, '/home/seabirds/webapps/%(webapp)s/seabirds.net/seabirds')
%(debug_print)s

# set the settings module
os.environ['DJANGO_SETTINGS_MODULE'] = 'seabirds.settings'

# init the wsgi handler
from django.core.handlers.wsgi import WSGIHandler
application = WSGIHandler()
