{% extends "registration/registration_base.html" %}
{% block title %}Activation email sent{% endblock %}
{% block content %}
<p> Thanks for registering as a seabird researcher. An activation email has been sent to you, click on the link in the email and your registration will be activated. You will then be able to login to Seabirds.net to contribute to the discussion.
</p>
<p>
If you don't receive an email, and you have checked that it isn't in your spam folder, it is possible that you registered with an incorrect email address. Try registering again, and if problems persist contact the administrator (<a href="mailto:wsuadmin@seabirds.net">wsuadmin@seabirds.net</a>).
</p>
{% endblock %}

