{% extends "base.html" %}
{% block title %}Register as a seabird researcher{% endblock %}
{% block content %}
{% block above %}
<p>
Registering as a researcher in the PETREL database gives you access to Seabirds.net. Once you are registered you will be able to post discussion items, upload photographs, and receive news on seabirds and from the World Seabird Union. Registration is free. Please complete the information below (mandatory fields are indicated with a red asterisk). The registration information will be displayed on your profile page.
</p>
<p>
Once you have registered, you will be sent an activation email to confirm your email address. Clicking on the link in the email will confirm your registration.
</p>
{% endblock above %}
<form method="POST" action="" class="ym-form ym-columnar" enctype="multipart/form-data">
    {% csrf_token %}
    <h6> Personal information </h6>
    <div class="ym-fbox-text {% if form.title.errors %}ym-error{% endif %}">
        <label for="id_title">{{ form.title.label }}{{ form.title.errors }}</label>
        {{ form.title }}
    </div>
    <div class="ym-fbox-text {% if form.first_name.errors %}ym-error{% endif %}">
        <label for="id_first_name">{{ form.first_name.label }}
          <sup title="This field is mandatory.">*</sup>{{ form.first_name.errors }}
        </label>
        {{ form.first_name }}
    </div>
    <div class="ym-fbox-text {% if form.last_name.errors %}ym-error{% endif %}">
        <strong></strong>
        <label for="id_last_name">{{ form.last_name.label }}
        <sup title="This field is mandatory.">*</sup>{{ form.last_name.errors }}
        </label>
        {{ form.last_name }}
    </div>
    <div class="ym-fbox-text {% if form.email.errors %}ym-error{% endif %}">
        <label for="id_email">{{ form.email.label }}
        <sup title="This field is mandatory.">*</sup> {{ form.email.errors }} 
        </label>
        {{ form.email }}
    </div>

{% block password %}
<h6> Password </h6>
<p>Your password must be six characters or longer, and should not be based on a dictionary word.</p>
    <div class="ym-fbox-text {% if form.password1.errors %}ym-error{% endif %}">
        <strong> {{ form.password1.errors }} </strong>
        <label for="id_password1">{{ form.password1.label }}
        <sup title="This field is mandatory.">*</sup>
        </label>
        {{ form.password1 }}
    </div>
    <div class="ym-fbox-text {% if form.password2.errors %}ym-error{% endif %}">
        <strong> {{ form.password2.errors }} </strong>
        <label for="id_password2">{{ form.password2.label }}
        <sup title="This field is mandatory.">*</sup>
        </label>
        {{ form.password2 }}
    </div>
{% endblock password %}
{% block terms %}
<h6> Terms and conditions </h6>
<p>
The adminstrators of Seabirds.net reserve the right to decline your registration if the
information provided is incorrect, or if you do not appear to have a genuine interest in
seabird research. 
When posting content and discussion, you are expected to be
courteous and respectful. People who are abusive or otherwise unpleasant may
have their access revoked. You are also expected to ensure that you have the
appropriate copyright for material (such as photographs and papers) uploaded
to Seabirds.net, and content may be removed if it is found to have been
inappropriately copied. Text posted to the website will be made available under
a <a href="http://creativecommons.org/licenses/by-sa/3.0/">creative commons
attribution share-alike license</a>.
</p>
    <div class="ym-fbox-check {% if form.accept_terms.errors %}ym-error{% endif %}">
        <strong> {{ form.accept_terms.errors }} </strong>
        <strong><label for="id_accept_terms">Check to accept these terms and conditions:
        <sup title="These terms and conditions must be accepted.">*</sup>
        </label>
        {{ form.accept_terms }}
        </strong>
    </div>
{% endblock terms  %}
{% block captcha %}
<h6> A quick check that you are human and then you are done </h6>
<p>
The challenge is deliberately difficult, as it is designed to stop computers from filling in the form. If the text is illegible, you can try another challenge by clicking on the the recycle arrows, to the right.
</p>
    <div class="ym-fbox-text {% if form.captcha.errors %}ym-error{% endif %}">
        <strong> {{ form.captcha.errors }} </strong>
        {{ form.captcha }}
    </div>

{% endblock captcha %}
{% block submit %}
<input type="submit" name="submit" value="Register me" >
{% endblock submit %}
</form>
{% endblock content %}
