{% load markup %}
<!DOCTYPE html>
<html>
    <head>
        <title>World Seabird Union</title>
		<link rel="stylesheet" type="text/css" href="/css/960_12_col.css" />
		<link rel="stylesheet" type="text/css" href="/css/reset.css" /> 
		<link rel="stylesheet" type="text/css" href="/css/seabirds.css" />
    </head>
    <body>
	<div id="banner">&nbsp;</div>
	<div id="dropshadow">&nbsp;</div>
		<div id="wrapper">
	<div id="mainbg">&nbsp;</div>
		<div class="container_12">
{% block header %}	
			<!-- Header --!>
			<div id="bannerphoto-1" class="grid_2">
			</div>
			<div id="bannerphoto-2" class="grid_2 push_8">
			</div>
			<div id="bannertext" class="grid_8 pull_2">
<img src="LOGO_jan2012.png" />
			</div>
            {% endblock %}
            {% block navigation %}
			<!-- Navigation Bar --!>
			<ul>
				<li>
					<div class="grid_2 nav" id="navone">
						<div class="navinner">
<a href="">About WSU</a>
						</div>
						<ul>
							<div class="filmstrip">
<li><a href="">Mission Statement</a></li>
<li>Personnel</li>
<li>Documents</li>
							</div>
						</ul>
					</div>
				</li>
				<li>
					<div class="grid_2 nav">
						<div class="navinner">
<a href="">Resources</a>
						</div>
						<ul>
							<div class="filmstrip">
<li>Publications</li>
<li>Seabird Information <br />Network</li>
<li>Conservation Action</li>
							</div>
						</ul>
					</div>
				</li>
				<li>
					<div class="grid_2 nav">
						<div class="navinner">
People
						</div>
						<ul>
							<div class="filmstrip">
<li>WSUTT Personnel</li>
<li>PETREL</li>
							</div>
						</ul>
					</div>
				</li>
				<li>
					<div class="grid_2 nav">
						<div class="navinner">
Students
						</div>
						<ul>
							<div class="filmstrip">
<li>Job Postings</li>
<li>Postgrad Opportunities</li>
							</div>
						</ul>
					</div>
				</li>	
				<li>
					<div class="grid_2 nav">
						<div class="navinner">
Contact
						</div>
					</div>
				</li>
				<li>
					<div class="grid_2 nav">
						<div class="navinner">
Discussion
						</div>
					</div>
				</li>
			</ul>

            {% endblock navigation %}
            {% block content %}
			<!-- Content boxes --!>
			<!-- First column --!>
			<div class="grid_8 firstrow">
				<div class="textbox">
<span id="dropcap">S</span>eabirds.net is planned to be a one-stop internet gateway for information on the world's seabirds. Seabirds are important, highly visible components of marine ecosystems. They reflect changes in marine resources on which they depend and offer a cost-effective method for obtaining information on changes in these resources and the status of marine ecosystems.
				</div>
				<!-- First two picture boxes --!>
				<div class="grid_4 alpha">
					<div id="picture-a" class="grid4inner">
<a href="about:blank">
<span></span>
</a>
					</div>
				</div>
				<div class="grid_4 omega">
					<div id="picture-b" class="grid4inner">
<a href="about:blank">
<span></span>
</a>
					</div>
				</div>
				<!-- First two picture box captions --!>
				<div class="grid_4 alpha caption">
North Pacific Seabird Data Portal
				</div>
				<div class="grid_4 omega caption">
<a href="">Circumpolar Seabird Data Portal</a>
				</div>
					
				<!-- Second two picture boxes --!>
				<div class="grid_4 alpha">
					<div id="picture-c" class="grid4inner">
<a href="about:blank">
<span></span>
</a>
					</div>
				</div>
				<div class="grid_4 omega">
					<div id="picture-d" class="grid4inner">
					</div>
				</div>
				<!-- Second two picture box captions --!>
				<div class="grid_4 alpha caption">
Global Metadata Portal
				</div>
				<div class="grid_4 omega caption">

				</div>

			</div>
				
            {% endblock content %}
            {% block sidebar %}
			<!-- Second column --!>
			<div class="grid_4 firstrow">
<h2>News</h2>
				<div class="textbox news">
<span class="title">World Seabird Conference</span>
<span class="date">running through the streets in excitement</span>
<span class="info">The 1st World Seabird Conference, led by the Pacific Seabird Group and an International Steering Committee of 26 other professional seabird and research organisations from around the world, was held in Victoria, BC, Canada in September 2010. Over 950 participants (including 850 registered conference attendees) from over 40 countries gathered together to comprehensively address the global issues and data needs for this diverse group of birds, most of which inhabit multiple countries and waters within their own ranges. Additional information on the conference program, conference outcomes, and photos are available on the <a href="">conference webpage</a></span>
<span class="readmore"></span>
				</div>
				<div class="textbox news">
<span class="title">World Seabird Conference</span>
<span class="date">18.01.2012</span>
<span class="info">The 1st World Seabird Conference, led by the Pacific Seabird Group and an International Steering Committee of 26 other professional seabird and research organisations from around the world, was held in Victoria, BC, Canada in September 2010. Over 950 participants (including 850 registered conference attendees) from over 40 countries gathered together to comprehensively address the global issues and data needs for this diverse group of birds, most of which inhabit multiple countries and waters within their own ranges. Additional information on the conference program, conference outcomes, and photos are available on the <a href="">conference webpage</a></span>
<span class="readmore"></span>
				</div>
                
		        </div>
                {% endblock sidebar %}
		</div>
            {% block footer %}
			<div id="footbannershadow"></div>
			<div id="footbanner">
				<div class="container_12">
					<div class="grid_3 foot">
<img src="small_logo.png" />
					</div>
					<div class="grid_2 navinner foot">
Seabirds.net
					</div>
					<div class="grid_2 navinner foot">
Contact Us
					</div>
					<div class="grid_2 navinner foot">
Login
					</div>
					<div class="grid_3 navinner foot">
World Seabird Union
					</div>
				</div>
			</div>
            {% endblock footer %}
		</div>
    </body>
</html>
	


