{% extends 'base.html' %}
{% load markup %}
{% block content %}
{% if user.is_authenticated and perms.website.administration %}
  <p><a class="pageedit" href="{% url admin:cms_page_change page.id %}">Edit page</a></p>
{% endif %}
<br>
{% if page.published or user.is_authenticated and perms.website.administration %}
  {% if not page.published %}
    <div class="pagedraft">
  {% endif %}
  {{ page.markdown_text }}
  {% if not page.published %}
    </div>
  {% endif %}
{% endif %}
{% endblock content %}

{% block sidebar %}
  {{ page.markdown_sidebar }}
  {% if twitter_widget %}
  <div id="twitter">
    <h4>&nbsp;</h4>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#dddddd',
      color: '#464b61'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#464b61'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('seabirders').start();
</script>
  </div>
  {% endif %}
{% endblock sidebar %}

