{% extends 'base.html' %}
{% load markup %}
{% block content %}
{% if user.is_authenticated and perms.website.administration %}
  <p><a class="pageedit" href="{% url admin:cms_page_change page.id %}">Edit page</a></p>
{% endif %}
<br>
{% if page.published or user.is_authenticated and perms.website.administration %}
  {% if not page.published %}
    <div class="pagedraft">
  {% endif %}
    <div class="grid_8 firstrow">
	 <div class="textbox">
  {{ page.markdown_text }}
        </div>
    </div>
  {% if not page.published %}
    </div>
  {% endif %}
{% endif %}
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
