{% load cms_filters %}
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
{% if post.author == user %}
<title>Your new post on Seabirds.net</title>  
{% else %}
<title>A new post on Seabirds.net</title>  
{% endif %}
</head>
    <body>
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4"><tr><td>
    <table id="top-message" cellpadding="0" cellspacing="0" width="100%!important" align="center"><tr><td>
    <div style="background: #0d1626 url(http://seabirds.net/css/bullers-albatross-stormpetrel1.jpg) no-repeat right top; height:80px;">
    <img src='http://seabirds.net/css/wsu-world.png'>
    </td></tr></table><!-- top message -->  
    <table id="main" cellpadding="0" cellspacing="15" bgcolor="ffffff" width="600" align="center" style="margin-top: 20px">  
    <p>Dear {{ user|show_user_short }},</p>
{% if post.author == user %}
<p>You made a post to the Seabirds.net <a href="http://{{ site }}{{ post.listing.get_absolute_url }}">{{ post.listing.description }}</a> discussion group.</p>
{% else %}
    <p>There is a new post on the Seabirds.net <a href="http://{{ site }}{{ post.listing.get_absolute_url }}">{{ post.listing.description }}</a> discussion group.</p>
{% endif %}
{% if editable_until %}
    <p>You have until {{ editable_until|date:"SHORT_DATETIME_FORMAT" }} to make any changes before it gets sent out to discussion subscribers.</p>
{% endif %}
    <table id="main" cellpadding="0" cellspacing="15" bgcolor="ffffff" width="500" align="center">  
    <p>{{ post.text|markdownplus }}</p>
    </table><!-- post -->  
    <p>To comment on this post, or to view it online, visit:</p>
    <p><a href="http://{{ site }}{{ post.get_absolute_url }}">http://{{ site }}{{ post.get_absolute_url }}</a></p>
    </table><!-- main -->  
    <table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">  
        <p>You received this message because you are subscribed to the "{{ post.listing.description }}" discussion group on <a href="http://{{site}}/">Seabirds.net</a>. You can unsubscribe or alter your preferences <a href="http://{{ site }}{% url subscription_edit %}">here</a>.</p>
    </table><!-- bottom message -->
</tr></td></table><!-- wrapper -->
</body>
</html>  
