{% load cms_filters %}
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<title>A new comment on seabirds.net</title>  
</head>
    <body>
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4"><tr><td>
    <table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">  
    <div style="background: #0d1626 url(http://seabirds.net/css/bullers-albatross-stormpetrel1.jpg) no-repeat right top; height:80px;">
    <a style="text-decoration:none"><img src='http://seabirds.net/css/wsu-world.png'></a>
    </table><!-- top message -->  
    <table id="main" cellpadding="0" cellspacing="15" bgcolor="ffffff" width="600" align="center">  
    <p>Dear {{ user|show_user_short }},</p>
<p>A new comment from {{ comment.user|show_user }} was added to {% if comment.content_object.author == user %}your{%else%}the{%endif%} {{ comment.content_type.model }} <a href="http://{{ site }}{{ comment.content_object.get_absolute_url }}">"{{comment.content_object.title}}"</a> on Seabirds.net:
<table id="main" cellpadding="0" cellspacing="15" bgcolor="ffffff" width="500" align="center">  
<p>{{ comment.comment|markdownplus }}</p>
</table><!-- comment -->  
<p>To comment on this post, or to view it online visit:
http://{{ site }}{{ comment.content_object.get_absolute_url }}</p>
    </table><!-- main -->  
    <table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">  
<p>You received this message because {% if comment.content_object.author == user %}you are the author of the {{ comment.content_type.model }}.
{% else %}you previously commented on the {{ comment.content_type.model }}.
{% endif %}. You can unsubscribe or alter your preferences <a href="http://{{ site }}{% url subscription_edit %}">here</a>.</p>
    </table><!-- bottom message -->
</tr></td></table><!-- wrapper -->
</body>
</html>  
