{% autoescape off %}
<div class="figure{% if place %} {{ place }}{% endif %}"{% if width %} style="width: {{ width }}px" {% endif %}> 
   <span style="display: inline-block; position: relative">
   <img src="{{ url }}" alt="{{ image.title }}" class="flexible" {% if width %} width="{{ width }}"px {% endif %} >
    <div class="attribution">
        {% if image.owner %}
        {% if image.source_url %}
        <a href="{{ image.source_url }}">{% endif %}{{ image.owner }}{% if image.source_url %}</a>
        {% endif %}.
        {% endif %}
        {% if image.license %}
        <a href="{{ image.license.url }}">{{ image.license.text }}</a>.
        {% endif %}
    </div>
    <div class="caption">{{ caption }}</div>
    </span>
</div>
{% endautoescape %}
