{% extends 'cms/edit_image.html' %}

{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('#image-form').addClass('hidden');
  $('#image-form-headline').click(function(){
    $('#image-form').slideToggle(300);
    $('#image-form-headline').classToggle('expanded')
  });
});
</script>
<style>
.hidden {display: none}
</style>
{% endblock extrahead %}

{% block postblock %}
<h4> Enter the text of your post </h4>
{% for field in postform %}
    <div class="{% ifequal field.name 'seabird_families' %}ym-fbox-select{% else %}ym-fbox-text{% endifequal %} {% if field.errors %}ym-error{% endif %}">
        <strong> {{ field.errors }} </strong>
        <label for="id_post-{{ field.name }}">{{ field.label }}
        {% if field.name in required %}<sup title="This field is mandatory.">*</sup>{% endif %}
            <div class="form-help">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</div>
        </label>
        {{ field }}
    </div>
{% endfor %}
<h4 id="image-form-headline"> {% if hasimage %} Edit {% else %} Add an {% endif %} image ... </h4>
{% endblock %}


{% block sidebar %}
<h4>Formatting your post</h4>

<p>Posts are written using the <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a> syntax. This lets you use
a simple email style syntax to add formatting.</p>

<p>To add a link use  the following syntax<br> 
<code> [website link](http://url.com/)</code>,<br>
with
the text to appear in the post within the square brackets, and the web url in the 
round brackets.</p>

<p> Lines begining with <code>#</code> characters are interpreted as headings: <br>
<code> # Heading <br>
## Smaller heading <br>
### Smaller heading <br>
</code>
</p>
<p>Use asterisks for <code>*italic*</code> and <code>**bold**</code> text.</p>

<p>For more markdown syntax see <a href="http://en.wikipedia.org/wiki/Markdown">wikipedia</a>. If you are keen you may
use HTML markup for more advanced formatting.</p>

<h4>What happens when you save?</h4>

<p>When you save your post it will be formatted and will appear on the website. You will then have the option to 
edit it, or to retract it if you change your mind.  If you don't make any more changes then, after a few minutes, 
the moderator will be notified. The moderator will have the opportunity to review the post and make any minor edits.</p>

<p> After a few hours, your post will be sent out to all the users who have subscribed to updates from the list you decide to post to.</p>
{% endblock sidebar %}

