{% extends 'base.html' %}
{% load thumbnail %}
{% load comments %}
{% block content %}
{% load markup %}
    <br>
    {% if form %}
    <form name='post-options' action={{ object.get_absolute_url }} method='POST' class='ym-form'>{% csrf_token %}
        <input type="submit" name="edit" value="Edit" id="edit"></input>
        {% if not object.published and not object.date_published %}<input type="submit" name="publish" value="Publish" id="publish"></input>
        {% else %} {% if not object.published and object.date_published %}<input type="submit" name="restore" value="Publish" id="publish"></input>
        {% else %} <input type="submit" name="retract" value="Retract" id="retract"></input>
        {% endif %}{% endif %}
    </form>
    {% endif %}
    <div class="grid_8 firstrow">
	    <div class="textbox">
            <h2>{{ object.title|capfirst }}</h2>
            <p class="byline">
                {% if object.author %}
                    <a href="{{ object.author.profile.get.get_absolute_url }}">{{ object.author.first_name|capfirst }} {{ object.author.last_name|capfirst }}</a>, 
                {% endif %}
                {{ object.date_published|date:"F j, Y" }}
            </p>
            {% autoescape off %}
                {{ object.markdown_text }}
            {% endautoescape %}
            <div class="comments">
                <h3> Comments </h3>
                {% get_comment_list for object as comment_list %}
                {% for comment in comment_list %}
                <div class="comment ym-clearfix">
                {% with comment.user.profile.get as profile %}
                {% thumbnail profile.photograph "40"  as im %}
                    <img src="/{{ im.url }}" width="40" class="float-left"alt="{{ comment.user.first_name|capfirst }} {{ comment.user.last_name|capfirst }}"></a>  
                    {% endthumbnail %}   
                    <h4><a href="{{ profile.get_absolute_url }}">{{ comment.name }}</a></h4>
                    <div class="byline">{{ comment.submit_date|timesince }} ago</div>
                    <p> {{ comment.comment|markdown }}</p>
                {% endwith %}
                </div>
                {% endfor %}
                {% if add_comment %}
                <h4> Add a comment </h4>
                <form method="POST" action="" class="ym-form ym-columnar">{% csrf_token %}
                    <div class="ym-fbox-text {% if commentform.comment.errors %}ym-error{% endif %}">
                        <strong> {{ commentform.comment.errors }} </strong>
                        <label for="id_title">{{ commentform.comment.label }}
                            <sup title="This field is mandatory.">*</sup>
                        </label>
                        {{ commentform.comment }}
                    </div>
                <input type="submit" name="edit_comment" value="Comment" id="comment">
                {% if commentform.id.value %}
                    <input type="hidden" name="comment-id" value={{ commentform.id.value }}>
                {% else %}
                    <input type="hidden" name="comment-id" value=-1>
                {% endif %}
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block sidebar %}
{% if object.published and not object.retracted or user.is_authenticated and perms.website.administration %}
{% if object.image %}
<a href="{{ object.image.get_absolute_url }}">
{% if object.image.image.width > 255 %}
    {% thumbnail object.image.image "255"  as im %}
    <img src="/{{ im.url }}" width="255"  class="flexible" alt="{{ im.title|capfirst }}" title="{{ im.title|capfirst }}"></a>
    {% endthumbnail %}
{% else %}
    <img src="/{{ object.image.image.url }}" width="{{ object.image.image.width }}"  class="flexible"  alt="{{ object.image.title|capfirst }}" title="{{ object.image.title|capfirst }}"></a>
{% endif %}
</a>
{% if object.image.caption %}<p>{{ object.image.caption }} </p>{% endif %}
{% endif %}
{% endif %}
{% endblock sidebar %}
