{% extends 'base.html' %}
{% load thumbnail %}
{% load comments %}
{% load markup %}
{% load cms_filters %}

{% block extrahead %}
{% if add_comment %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<style> .hidden {display: none} </style>
{% endif %}
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f7a64797e1ad3a8"></script>
<meta property="og:title" content="{{ object.title|capfirst }}" /> 
<meta property="og:site_name" content="seabirds.net" />
{% if object.image %}<meta property="og:image" content="{{ object.image.get_absolute_url }}" /> {% endif %}
<meta property="og:type" content="article" />
{% if object.author %}<meta property="article:author" content="{{ object.author.first_name }} {{ object.author.last_name}}" />{% endif %}
<meta property="article:published_time" content="{{ object.date_published|date:"c" }}" />
<meta property="article:section" content="Nature" />
{% endblock extrahead %}

{% block title %}
{% if not object.published %}<span class="pagedraft">[DRAFT] {% endif %}
{{ object.title|capfirst }}
{% if not object.published %}</span>{% endif %}
{% endblock %}

{% block content %}
    <div class="ym-grid">
      <div class="ym-g75 ym-gl">
            {% if object.author %}
                {% if object.author.is_active %}
                <a href="{{ object.author.profile.get.get_absolute_url }}">{{ object.author|show_user }}</a>, 
                {% else %}
                {{ object.author|show_user }}, 
                {% endif %}
            {% endif %}
            {{ object.date_published|date:"F j, Y" }}
      </div>
      <div class="ym-g25 ym-gr">
      <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
      </div></div>
<div class="ym-clearfix">&nbsp;</div>
<div class="post">
    {% autoescape off %}
       {{ object.markdown_text }}
    {% endautoescape %}
</div>
    <div class="comments">
       {% get_comment_count for object as comment_count %}
       {% if comment_count %}<h3> Comments ( {{comment_count}} )</h3>{% endif %}
       {% get_comment_list for object as comment_list %}
            {% for comment in comment_list %}
            <div class="comment ym-clearfix">
            {% with comment.user.profile.get as profile %}
               {% if comment.user.is_active %}
               {% thumbnail profile.photograph "40"  as im %}
                <img src="{{ im.url }}" width="40" class="float-left"alt="{{ comment.user|show_user }}"></a>  
               {% endthumbnail %}   
               <h4><a href="{{ profile.get_absolute_url }}" id="comment-{{ comment.id }}" name="c{{ comment.id }}">{{ comment.name }}</a></h4>
               <div class="byline">
                   <a href="{% get_comment_permalink comment %}">{{ comment.submit_date|timesince }} ago</a>
               </div>
               <p> {{ comment.comment|markdown }}</p>
                {% edit_comment comment user %}
                {% else %}
               <h4>{{ comment.name }}<a id="comment-{{ comment.id }}" name="c{{ comment.id }}"/></h4>
               <div class="byline">
                   <a href="{% get_comment_permalink comment %}">{{ comment.submit_date|timesince }} ago</a>
               </div>
               <p> {{ comment.comment|markdown }}</p>
                {% endif %}
            {% endwith %}
            </div>
            {% endfor %}
            {% if add_comment %}
                {% edit_comment None user %}
                {% endif %}
            </div>
        </div>
    <br>
{% endblock %}

{% block sidebar %}
{% if object.published and not object.retracted or user.is_authenticated and perms.website.administration %}
{% if object.image %}
<a href="{{ object.image.get_absolute_url }}">
{% if object.image.image.width > 255 %}
    {% thumbnail object.image.image "255"  as im %}
    <img src="{{ im.url }}" width="255"  class="flexible" alt="{{ im.title|capfirst }}" title="{{ im.title|capfirst }}"></a>
    {% endthumbnail %}
{% else %}
    <img src="{{ object.image.image.url }}" width="{{ object.image.image.width }}"  class="flexible"  alt="{{ object.image.title|capfirst }}" title="{{ object.image.title|capfirst }}"></a>
{% endif %}
</a>
{% if object.image.caption %}<p>{{ object.image.caption }} </p>{% endif %}
{% endif %}
{% endif %}
{% if form %}
    <div>
        <form name='post-options' action={{ object.get_absolute_url }} method="POST" class="ym-form ym-full">{% csrf_token %}
        <h3>Article Admin</h3>
            <input type="submit" name="edit" value="Edit" id="edit"></input>
            {% if not object.published and not object.date_published %}<input type="submit" name="publish" value="Publish" id="publish"></input>
            {% else %}
                {% if not object.published and object.date_published %}
                <input type="submit" name="restore" value="Publish" id="publish"></input>
                <input type="submit" name="delete" value="Delete" id="delete"></input>
                {% else %}
                <input type="submit" name="retract" value="Retract" id="retract"></input>
                {% endif %}
            {% endif %}
        </form>
    </div>
    {% endif %}
{% endblock sidebar %}
